.single-team-member{
    width: 31%;
    margin:15px;
    float:left;
}
.single-team-member img{
    width:100%;
    /* border-radius:30%; */
}
h1{
    text-align: center;
    color:rebeccapurple;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style:justify;
}
h3{
    text-align: center;
}